@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
/*+++++++++++++++++++++++++++
 UNIVERSAL DESIGN 
 ++++++++++++++++++++++++++++*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-family: "Hind Siliguri", sans-serif;
}

*::selection {
  color: #000;
  background-color: #fff;
}

:root {
  --bg-color: #081b29;
  --main-color: #48e655;
  --text-color: #ededed;
  --secund-bg-color: #112e42;
}

html {
  font-size: 64.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/*----------------------------
{NAVIGATION SECTION DESIGN}
----------------------------/ */

.header {
  width: 100%;
  padding: 1rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover:after {
  left: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.logo-image > img {
  width: 3.8rem;
  height: 3.8rem;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}
.logo-name {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navigation a {
  color: var(--text-color);
  font-size: 1.6rem;
  margin-left: 3.5rem;
  font-weight: 500;
}

.navigation a:hover,
.navigation a.active {
  color: var(--main-color);
}

#icon-menu {
  color: var(--text-color);
  font-size: 3.6rem;
  cursor: pointer;
  display: none;
}

/* ----------------
HOME SECTION DESIGN
 ------------------*/

.head-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head-tag h1 {
  font-size: 25px;
  font-weight: normal;
  -webkit-text-stroke: 0.5px var(--main-color);
  color: transparent;
}
.head-tag p {
  font-size: 15px;
}
.councilor-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  margin-top: 20px;
}

.serial-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  font-size: 20px;
  padding-right: 10px;
  border-right: 1px solid var(--main-color);
  border-radius: 5px;
  font-weight: normal;
}

.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section img {
  width: 220px;
  height: 220px;
  border-radius: 5px;
}

.councilor-info-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.councilor-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-head {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 15px;
  border-radius: 5px;
}

.hospital-name h2 {
  font-size: 20px;
  font-weight: normal;
  -webkit-text-stroke: 0.5px var(--main-color);
  color: transparent;
}
.hospital-name p {
  font-size: 17px;
}

.sub-head h2 {
  width: 100%;
  padding: 10px;
  font-weight: normal;
  border: 0.5px solid var(--main-color);
  transition: 0.5s;
}

.sub-head h2:hover {
  cursor: pointer;
  background-color: var(--secund-bg-color);

  transform: scale(1.02);
}

.sub-head-two h2:hover {
  cursor: pointer;
  background-color: var(--secund-bg-color);

  transform: scale(1.02);
}

.sub-head-two {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-right: 15px;
  border: 0.5px solid var(--main-color);
  border-radius: 5px;
}

.sub-head-two h2 {
  padding: 10px;
  width: 100%;
  font-weight: normal;
  border-bottom: 0.5px solid var(--main-color);
  transition: 0.5s;
}

.councilor-social-section {
  border: none;
  gap: 20px;
  margin-right: 20px;
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.councilor-social-section a {
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid var(--main-color);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  background-image: linear-gradient(to bottom right, rgb(23, 23, 189), #1f42dc);
}

.councilor-social-section a:hover {
  cursor: pointer;
  background: transparent;
}

.councilor-social-section a i {
  font-size: 20px;
}



/* BUTTON DESIGN */

.btn > button {
  padding: 1rem 2rem;
  background-color: var(--secund-bg-color);
  border: none;
  color: var(--text-color);
  border-radius: 1000px;
  margin-top: 20px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn button::after {
  content: "";
  position: absolute;
  width: 107%;
  height: 107%;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, #008cff, #e100ff);
  z-index: -1;
}

.btn > button:hover {
  z-index: 0;
  box-shadow: 40px 0 100px #008cff;
  cursor: pointer;
}