* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

:root {
  /* COLORS */
  --primary-color: #ffa955;
  --background-primary-color: #fff7f0;
  --border-primary-color: #ffcfa2;
  --light-primary-color: #ffbf80;
  --secondary-color: #683300;
  --gray-color: #7f7d7b;

  /* RADIUS */
  --small-radius: 8px;
  --medium-radius: 16px;
  --large-radius: 24px;
}
body {
  height: 100vh;
}
.bangla-text {
  font-family: "Hind Siliguri", sans-serif;
}

/* HEADER Section */
.header {
  border: solid;
  display: flex;
  justify-content: space-around;
  padding-inline: 5%;
  height: 80px;
  align-items: center;
  position: fixed;
  width: 100%;
}
.header_title a {
  color: var(--light-primary-color);
}
.header_title a {
  text-decoration: none;
}
.header_title a:hover {
  color: var(--primary-color);
}
.header_title span {
  color: var(--primary-color);
}
.header_menus {
  list-style: none;
  display: flex;
  gap: 24px;
}
.header_menus li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.header_menus li a:hover {
  color: var(--light-primary-color);
}
.header_menus li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--light-primary-color);
  left: 0;
  bottom: -6px;
  transition: 300ms ease;
}
.header_menus li a:hover::after {
  width: 100%;
}

#menu-icon {
  font-style: 300px;
  color: var(--secondary-color);
  display: none;
}

/* <!-- CONTAINER SECTION DESIGN --> */

/* content number 1


.Slider-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background-primary-color);
}

.wrapper {
  height: 400px;
  width: 900px;
  position: relative;
}
.wrapper .img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.wrapper .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  clip-path: circle(0% at 0% 100%);
  transition: all 0.7s;
}

#one:checked ~ .img-1 img {
  clip-path: circle(150% at 0% 100%);
}
#two:checked ~ .img-1 img,
#two:checked ~ .img-2 img {
  clip-path: circle(150% at 0% 100%);
}
#three:checked ~ .img-1 img,
#three:checked ~ .img-2 img,
#three:checked ~ .img-3 img {
  clip-path: circle(150% at 0% 100%);
}

#four:checked ~ .img-1 img,
#four:checked ~ .img-2 img,
#four:checked ~ .img-3 img,
#four:checked ~ .img-4 img {
  clip-path: circle(150% at 0% 100%);
}
#five:checked ~ .img-1 img,
#five:checked ~ .img-2 img,
#five:checked ~ .img-3 img,
#five:checked ~ .img-4 img,
#five:checked ~ .img-5 img {
  clip-path: circle(150% at 0% 100%);
}
.wrapper input[type="radio"] {
  display: non;
}

.wrapper .sliders {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 123;
  display: flex;
}
.wrapper .sliders label {
  height: 13px;
  width: 13px;
  border: 2px solid var(--border-primary-color);
  margin: 0 3px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.sliders label:hover {
  background: var(--border-primary-color);
} */

section {
  height: 100vh;
  padding: 10rem 9% 2rem;
  background: black;
}

.contact {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--bg-color);
}

.contact > .heading {
  margin-top: -3rem;
  margin-bottom: 0rem;
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
  color: transparent;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px var(--text-color);
}

.contact > .heading > span {
  -webkit-text-stroke: 1px var(--main-color);
}

.contact > .find {
  text-align: center;
  font-size: 2rem;
  color: var(--main-color);
}

.contact > .box {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 292px 292px 292px;
  grid-template-rows: 90px 90px 90px;
  gap: 2rem;
}

.contact > .box > .mini-box {
  background-color: var(--secund-bg-color);
  border-radius: 5px;
  border-right: 2px solid var(--main-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.contact > .box > .mini-box:hover {
  transform: scale(1.06);
  z-index: 1;
  transition: 0.3s;
}
.contact > .box > .mini-box > .icon {
  font-size: 50px;
  margin-left: 20px;
}

.contact > .box > .mini-box > .content {
  margin-left: 15px;
}
.contact > .box > .mini-box > .content > h2 {
  font-size: 18px;
  font-weight: 400;
}
.contact > .box > .mini-box > .content > p {
  font-size: 12px;
  font-weight: 300;
}
.contact > .box > .mail {
  border-color: #8c2242;
}

.contact > .box > .mini-box > .mail-icon {
  color: #8c2242;
}

.contact > .box > .github {
  border-color: #747474;
}

.contact > .box > .mini-box > .github-icon {
  color: #747474;
}

.contact > .box > .discord {
  border-color: #6e83cb;
}

.contact > .box > .mini-box > .discord-icon {
  color: #6e83cb;
}

.contact > .box > .twitter {
  border-color: #0071db;
}

.contact > .box > .mini-box > .twitter-icon {
  color: #0071db;
}

.contact > .box > .linkedin {
  border-color: #2867b2;
}

.contact > .box > .mini-box > .linkedin-icon {
  color: #2867b2;
}
.contact > .box > .facebook {
  border-color: #4b7de0;
}

.contact > .box > .mini-box > .facebook-icon {
  color: #4b7de0;
}
