* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

:root {
  /* COLORS */
  --primary-color: #ffa955;
  --background-primary-color: #fff7f0;
  --border-primary-color: #ffcfa2;
  --light-primary-color: #ffbf80;
  --secondary-color: #683300;
  --gray-color: #7f7d7b;

  /* RADIUS */
  --small-radius: 8px;
  --medium-radius: 16px;
  --large-radius: 24px;
}

.bangla-text {
  font-family: "Hind Siliguri", sans-serif;
}

/* HEADER Section */
.header {
  border: solid;
  display: flex;
  justify-content: space-around;
  padding-inline: 5%;
  height: 80px;
  align-items: center;
  position: fixed;
  width: 100%;
}
.header_title {
  color: var(--primary-color);
}
.header_title a {
  text-decoration: none;
}
.header_title span {
  color: var(--secondary-color);
}
.header_menus {
  list-style: none;
  display: flex;
  gap: 24px;
}
.header_menus li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.header_menus li a:hover {
  color: var(--primary-color);
}
.header_menus li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  left: 0;
  bottom: -6px;
  transition: 300ms ease;
}
.header_menus li a:hover::after {
  width: 100%;
}

#menu-icon {
  font-style: 300px;
  color: var(--secondary-color);
  display: none;
}
