@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
/*+++++++++++++++++++++++++++
 UNIVERSAL DESIGN 
 ++++++++++++++++++++++++++++*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-family: "Hind Siliguri", sans-serif;
}

*::selection {
  color: #000;
  background-color: #fff;
}

:root {
  --bg-color: #081b29;
  --main-color: #48e655;
  --text-color: #ededed;
  --secund-bg-color: #112e42;
}

html {
  font-size: 64.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* <!-- -- -------------------------------------
              {FOOTER SECTION DESIGN}
   -- ------------------------------------- --> */
.footer {
  background-color: var(--secund-bg-color);
  width: 100%;
  height: auto;
  min-height: unset;
  position: absolute;
  border-top-left-radius: 125px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.logo-name-footer {
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 10px;
  color: var(--text-color);
}
.logo-name-footer:hover {
  color: var(--main-color);
}

/* .col > a > img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: -5px;
  border: 1px solid var(--main-color);
  object-fit: cover;
} */

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.row > .col {
  flex-basis: 25%;
  padding: 10px;
}
.col h3 {
  width: fit-content;
  margin-bottom: 20px;
  position: relative;
}
.footer-head {
  font-weight: 800;
  color: var(--main-color);
  text-decoration: overline;
}
ul li {
  list-style: none;
  padding: 2px;
}
ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 13px;
}
ul li a:hover {
  color: var(--main-color);
  font-weight: 800;
}
form {
  padding-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 50px;
}
form .fa-regular {
  font-size: 18px;
  margin-right: 10px;
}
form input {
  width: 100%;
  background: transparent;
  color: var(--main-color);
  border: 0;
  outline: 0;
}

.footer-bottom {
  text-align: center;
  justify-content: center;
  font-size: 13px;
  border-top: 1px solid var(--main-color);
  padding-top: 15px;
}
.footer-bottom > p > a {
  color: var(--main-color);
  font-weight: 400;
}
.footer-bottom > p > a:hover {
  color: var(--text-color);
}

.social-links {
  position: absolute;
  width: 150px;
  margin-left: -2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links > a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--main-color);
  background-color: transparent;
  border-radius: 50%;
  color: var(--secund-bg-color);
  background-color: var(--main-color);
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

.social-links a::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--secund-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

.social-links a:hover::before {
  width: 100%;
  color: var(--secund-bg-color);
}
.social-links a:hover {
  color: var(--main-color);
}
.social-links a::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--secund-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

/* {Footer Button Design}  */
.btn-box-footer {
  margin-top: 6.5rem;
  margin-right: 3.5rem;
  width: 12.5rem;
  height: 3.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.btn-box-footer a {
  color: var(--text-color);
}
.btn-box-footer .btn {
  width: 11.5rem;
  height: 100%;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  color: var(--bg-color);
  font-size: 1.5rem;
  font-weight: 600;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}
.btn-box-footer .btn::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--secund-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}
.btn-box-footer .btn:hover:before {
  width: 100%;
  color: var(--main-color);
}
.btn-box-footer .btn:hover {
  color: var(--main-color);
}

/*----------------------------
{NAVIGATION SECTION DESIGN}
----------------------------/ */

.header {
  width: 100%;
  padding: 1rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover:after {
  left: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.logo-image > img {
  width: 3.8rem;
  height: 3.8rem;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}
.logo-name {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navigation a {
  color: var(--text-color);
  font-size: 1.6rem;
  margin-left: 3.5rem;
  font-weight: 500;
}

.navigation a:hover,
.navigation a.active {
  color: var(--main-color);
}

#icon-menu {
  color: var(--text-color);
  font-size: 3.6rem;
  cursor: pointer;
  display: none;
}

/* -----------------------
{Container Section Design}
-------------------------*/

.Background1 {
  position: absolute;
  width: 130px;
  height: 130px;
  bottom: 0;
  left: 0;
}

.Background2 {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 0;
  right: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side {
  width: 25%;
  height: 100%;
}

.details {
  margin-left: 14px;
  text-align: center;
}
.details > a > i {
  color: var(--text-color);
  font-size: 18px;
}

.developerImage > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  position: relative;
}
.developerImage > .text-one {
  font-size: 18px;
  color: var(--main-color);
}
.developerImage > .text-two {
  margin-top: -5px;
  font-size: 14px;
}

.github a > img {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  margin-top: -50px;
  margin-left: 40px;
}

.rangpurLogo {
  margin-top: 20px;
}
.rangpurLogo > .RangpurCityLogo > a {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600;
  padding: 5px 5px;
}
.rangpurLogo > .RangpurCityLogo > a:hover {
  color: var(--main-color);
  transition: 0.3s;
  font-weight: 800;
}

.rangpurLogo > .text-two {
  font-size: 11px;
  text-align: center;
  color: #008cff;
}

.contactUsIcon {
  margin-top: 20px;
  gap: 10px;
}
.contactUsIcon > a {
  margin-left: 10px;
}
.contactUsIcon > a > i {
  padding: 8px 8px;
}

/* {Contact Us Icon Design}  */
.contactUsIcon {
  width: 80%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.contactUsIcon a i {
  color: var(--text-color);
}
.contactUsIcon a i:hover {
  color: var(--text-color);
}

.contactUsIcon .btn {
  width: 5rem;
  height: 100%;
  background-color: var(--secund-bg-color);
  border: 2px solid #008cff;
  border-radius: 1rem;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}
.contactUsIcon .btn::before {
  content: "";
  width: 0;
  height: 100%;
  background-image: linear-gradient(to bottom right, #008cff, #e100ff);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}
.contactUsIcon .btn:hover:before {
  width: 100%;
  color: var(--main-color);
}

.right-side {
  width: 75%;
  height: 100%;
  margin-left: 100px;
}

.right-side > .topic-text {
  color: var(--main-color);
  font-size: 20px;
  font-weight: 600;
}

.right-side > p {
  font-size: 14px;
}

.input-box {
  padding: 10px 10px;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: var(--secund-bg-color);
  margin-top: 10px;
}

.input-box textarea {
  width: 100%;
  height: 100px;
}

.btn > button {
  padding: 1rem 2rem;
  background-color: var(--secund-bg-color);
  border: none;
  color: var(--text-color);
  border-radius: 1000px;
  margin-top: 20px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn button::after {
  content: "";
  position: absolute;
  width: 107%;
  height: 107%;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, #008cff, #e100ff);
  z-index: -1;
}

.btn > button:hover {
  z-index: 0;
  box-shadow: 40px 0 100px #008cff;
}

.btn > button > i {
  margin-left: 5px;
}