@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
/*+++++++++++++++++++++++++++
 UNIVERSAL DESIGN 
 ++++++++++++++++++++++++++++*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-family: "Hind Siliguri", sans-serif;
}

*::selection {
  color: #000;
  background-color: #fff;
}

:root {
  --bg-color: #081b29;
  --main-color: #48e655;
  --text-color: #ededed;
  --secund-bg-color: #112e42;
}

html {
  font-size: 64.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/*----------------------------
{NAVIGATION SECTION DESIGN}
----------------------------/ */

.header {
  width: 100%;
  padding: 1rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover:after {
  left: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.logo-image > img {
  width: 3.8rem;
  height: 3.8rem;
  border: 1px solid var(--main-color);
  border-radius: 50%;
}
.logo-name {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navigation a {
  color: var(--text-color);
  font-size: 1.6rem;
  margin-left: 3.5rem;
  font-weight: 500;
}

.navigation a:hover,
.navigation a.active {
  color: var(--main-color);
}

#icon-menu {
  color: var(--text-color);
  font-size: 3.6rem;
  cursor: pointer;
  display: none;
}

/* <!-- -- -------------------------------------
              {FOOTER SECTION DESIGN}
   -- ------------------------------------- --> */
.footer {
  background-color: var(--secund-bg-color);
  width: 100%;
  height: auto;
  min-height: unset;
  position: absolute;
  border-top-left-radius: 125px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.logo-name-footer {
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 10px;
  color: var(--text-color);
}
.logo-name-footer:hover {
  color: var(--main-color);
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.row > .col {
  flex-basis: 25%;
  padding: 10px;
}
.col h3 {
  width: fit-content;
  margin-bottom: 20px;
  position: relative;
}
.footer-head {
  font-weight: 800;
  color: var(--main-color);
  text-decoration: overline;
}
ul li {
  list-style: none;
  padding: 2px;
}
ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 13px;
}
ul li a:hover {
  color: var(--main-color);
  font-weight: 800;
}
form {
  padding-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 50px;
}
form .fa-regular {
  font-size: 18px;
  margin-right: 10px;
}
form input {
  width: 100%;
  background: transparent;
  color: var(--main-color);
  border: 0;
  outline: 0;
}

.footer-bottom {
  text-align: center;
  justify-content: center;
  font-size: 13px;
  border-top: 1px solid var(--main-color);
  padding-top: 15px;
}
.footer-bottom > p > a {
  color: var(--main-color);
  font-weight: 400;
}
.footer-bottom > p > a:hover {
  color: var(--text-color);
}

.social-links {
  position: absolute;
  width: 150px;
  margin-left: -2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links > a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--main-color);
  background-color: transparent;
  border-radius: 50%;
  color: var(--secund-bg-color);
  background-color: var(--main-color);
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

.social-links a::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--secund-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

.social-links a:hover::before {
  width: 100%;
  color: var(--secund-bg-color);
}
.social-links a:hover {
  color: var(--main-color);
}
.social-links a::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--secund-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

/* {Footer Button Design}  */
.btn-box-footer {
  margin-top: 6.5rem;
  margin-right: 3.5rem;
  width: 12.5rem;
  height: 3.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.btn-box-footer a {
  color: var(--text-color);
}
.btn-box-footer .btn {
  width: 11.5rem;
  height: 100%;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  color: var(--bg-color);
  font-size: 1.5rem;
  font-weight: 600;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}
.btn-box-footer .btn::before {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--secund-bg-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}
.btn-box-footer .btn:hover:before {
  width: 100%;
  color: var(--main-color);
}
.btn-box-footer .btn:hover {
  color: var(--main-color);
}

/* <!-- -- -------------------------------------
              {SEARCH-Bar SECTION DESIGN}
   -- ------------------------------------- --> */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 400px;
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 0 20px var(--secund-bg-color);

  transition: 0.5s ease-in-out;
  margin-bottom: 3rem;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 600;
  font-size: 14px;
  color: var(--bg-color);
}
.search-bar i {
  color: var(--bg-color);
  font-size: 14px;
  cursor: pointer;
}
.search-bar:hover {
  width: 80%;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}

.img > a > img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

/* <!-- -- -------------------------------------
              {CONTENT SECTION DESIGN}
   -- ------------------------------------- --> */

.content-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 2rem;
}

.mini-box {
  height: 90px;
  background-color: var(--secund-bg-color);
  border-radius: 5px;
  border-right: 2px solid var(--main-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.mini-box:hover {
  transform: scale(1.06);
  z-index: 1;
  transition: 0.3s;
}



.logo > img {
  width: 70px;
  height: 70px;
  margin-left: 20px;
  object-fit: contain;
}




a {
  text-decoration: none;
  color: #fff;
}
h2, a{
  font-size: 20px;
  font-weight: 400;
  color: var(--main-color);
  font-weight: 600;
}
p {
  font-size: 13px;
  font-weight: 300;
  color: var(--text-color);
}


.Heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Head{
  margin-left: 20px;
  width: 70%;
}

.PhoneIcon {
  margin-right: 25px;
}

.Highlight {
  font-size: 13.5px;
  font-weight: 400;
  color: var(--main-color);
}