*::selection {
  color: #000;
  background-color: #fff;
}

:root {
  --bg-color: #081b29;
  --main-color: #48e655;
  --text-color: #ededed;
  --secund-bg-color: #112e42;
}

.text-animate {
  font-size: 3.2rem;
  color: transparent;
  font-weight: 700;
  -webkit-text-stroke: 0.5px var(--main-color);
}

.hisHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--main-color);
}

.pera {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  text-align: justify;
}

.HeadContext {
  color: var(--main-color);
  font-size: 2.8rem;
  margin-bottom: 20px;
  margin-top: 1.5rem;
}

.context1 {
  display: flex;
}
.context1 > .image-section {
  height: 300px;
  width: 500px;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}
.context1 > .image-section > img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 1px solid var(--main-color);
  margin-top: 50px;
}
.context1 > .image-section > p {
  font-size: 1rem;
  text-align: center;
}
.context1 > .image-section > a {
  color: var(--main-color);
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-self: center;
}
.context1 > .image-section > a:hover {
  color: var(--text-color);
}
